{% extends 'base.html.twig' %}
{% block title %}🐟 Traders.Social - Aqua Enthusiasts{% endblock %}

{% block header %}
    {% include 'structure/navigation/navigation.top.html.twig' %}
{% endblock %}

{% block tagline %}
    Over 9000 successful auctions!
{% endblock %}

{% block body %}
<div class="container">
    <div class="row eyecatcher">
        <div class="col">
            <h1 class="display-4"></h1>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row about">
        <div class="col-4">
            <h3 class="col-head">STEP 1.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor dapibus elit, vitae egestas nunc consectetur ut. Ut vitae odio dignissim risus malesuada egestas in id orci. Nam urna metus, cursus eget velit id, efficitur scelerisque sapien. Proin hendrerit odio id lectus posuere, vitae pretium diam commodo. Suspendisse at vehicula risus. Aenean ut lobortis odio. Aliquam ultricies mi sit amet ornare convallis. Quisque blandit risus lacus, non aliquam tortor tincidunt vitae. Phasellus sed odio metus. Mauris ut magna dolor. Suspendisse at justo non ligula vehicula interdum. Donec volutpat, turpis sed aliquet luctus, mi dolor pharetra ligula, eget lacinia sem quam vel lectus. Cras faucibus maximus fermentum. Sed vitae nulla vel massa aliquet ornare eget ut sapien. Fusce vehicula sodales nulla, et viverra ipsum vestibulum vitae.</p>
        </div>
        <div class="col-4">
            <h3 class="col-head">STEP 2.</h3>
            <p>Pellentesque a purus ut est vulputate posuere. Nam condimentum varius imperdiet. Mauris est ipsum, luctus at risus eu, tincidunt placerat ante. Quisque porta condimentum quam, et lacinia felis eleifend vitae. Duis luctus nibh eu quam dignissim, vitae maximus quam fringilla. Ut a malesuada urna. In quis consequat nunc. Aliquam erat volutpat. Pellentesque feugiat vitae dolor vitae tincidunt. Etiam imperdiet mollis arcu elementum fringilla. Fusce massa enim, consequat sed feugiat vel, pellentesque ac mi. Vivamus non ex dui. Nulla euismod ante vel nunc faucibus fermentum. In ut convallis erat.</p>
        </div>
        <div class="col-4">
            <h3 class="col-head">STEP 3.</h3>
            <p>Etiam est augue, ullamcorper sed accumsan id, convallis vitae nunc. Nam scelerisque bibendum dolor. Nulla euismod elit eu ornare euismod. Aenean gravida non nulla et ornare. Pellentesque ultrices, turpis in convallis ornare, diam nisi condimentum nisi, ut congue sapien tellus ut mauris. Fusce nec ex sodales ante imperdiet congue. Proin id suscipit magna, sed pellentesque velit. Nunc et nisl eget lectus semper sodales eu eu mauris. Duis varius ac arcu eu aliquam.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <strong>About</strong>
                <ul>
                    <li>Contact us</li>
                    <li>Disclaimer</li>
                    <li>Terms and Conditions</li>
                    <li>User Agreement</li>
                </ul>
            </div>
            <div class="col-4">
                <strong>Users</strong>
                <ul>
                    <li>Register</li>
                    <li>Find a seller</li>
                    <li>Find a buyer</li>
                    <li>Search</li>
                </ul>
            </div>
            <div class="col-4">
                <strong>Hot right now</strong>
                <ul>
                    <li>Lorem ipsup</li>
                    <li>Dolor</li>
                    <li>Sit amet</li>
                    <li>and other placeholder text</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}