body {
  padding-top: 9rem;
}

#main-navigation {
  background: url('/assets/images/header-background.jpg') center center no-repeat;
  background-size: cover;
  font-weight: 600;
  padding: 0;

  .container {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;

    .navbar-brand {
      color: #FFFFFF;
      font-size: 2em;

      font-style: italic;
      font-weight: bolder;

      .brand-icon {
        font-size: 1.1em;
        font-weight: bolder;
        margin-right: 10px;
        color: $baseTheme;
      }



      .text-muted {
        font-size: 0.6em;
        margin-top: -10px;
      }
    }

    .nav-link {
      color: #FFFFFF;
      padding-left: 10px;
    }
  }
}
