{% extends 'base.html.twig' %}
{% block title %}🐟 Traders.Social - Editing profile of {{ app.user.username }}{% endblock %}

{% block header %}
    {% include 'structure/navigation/navigation.top.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container-fluid">
                    {{ form_start(form) }}
                    {% include '/forms/user/profile/edit.html.twig' with { 'form': form } %}
                    {{ form_end(form, {'render_rest': false}) }}
                </div>
            </div>
            <div class="col-4">
                {% include 'structure/navigation/user/quick-access.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'structure/navigation/navigation.footer.html.twig' %}
{% endblock %}