{% extends 'base.html.twig' %}
{% block title %}🐟 Traders.Social - Login{% endblock %}

{% block header %}
    {% include 'structure/navigation/navigation.top.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Welcome back Trader,</h3>
                <p>You can login to your account using the form below</p>
            </div>
        </div>
    </div>
    {{ error }}
    {{ form_start(form) }}
    {% include '/forms/user/login.html.twig' with { 'form': form } %}
    {{ form_end(form, {'render_rest': false}) }}


{% endblock %}

{% block footer %}
    {% include 'structure/navigation/navigation.footer.html.twig' %}
{% endblock %}