<a href="{{ path('manage.auction.view', {'slug': auction.slug}) }}" class="btn btn-outline-primary btn-sm btn-view"><i class="far fa-eye"></i></a>
<a href="{{ path('manage.auction.edit', {'slug': auction.slug}) }}" class="btn btn-outline-secondary btn-sm btn-edit"><i class="far fa-edit"></i></a>
<a href="{{ path('manage.auction.delete', {'slug': auction.slug}) }}" class="btn btn-danger btn-sm btn-delete"><i class="far fa-trash-alt"></i></a>