<div class="row feed-item">
    <div class="col-auto">
        <i class="fas fa-gavel feed-item-icon {{ item.type }}"></i>
    </div>
    <div class="col">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 feed-item-title">
                    {{ item.title }}
                </div>
                <div class="col-10 feed-item-description">
                    {{ item.description }}
                </div>
            </div>
        </div>
    </div>
</div>