{% extends 'base.html.twig' %}
{% block title %}🐟 Traders.Social - Your current Auction{% endblock %}

{% block header %}
    {% include 'structure/navigation/navigation.top.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <header class="form-title">
                    <h2><i class="fas fa-search-dollar"></i>Manage your Auctions</h2>
                </header>
                <div class="container-fluid list-container">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr class="">
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created At</th>
                                <th>Updated At</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for auction in auctions %}
                                {% include 'auction/list-item.html.twig' with {'auction': auction} %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                {% include 'structure/navigation/user/quick-access.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'structure/navigation/navigation.footer.html.twig' %}
{% endblock %}