<div class="user-feed container-fluid">
    <div class="row row-header">
        <div class="col-auto">
            Type
        </div>
        <div class="col">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto">
                        Date
                    </div>
                    <div class="col-auto feed-item-title">
                        Title
                    </div>
                    <div class="col-auto feed-item-description">
                        Description
                    </div>
                    <div class="col-auto feed-item-link">
                        Actions
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% for item in feed %}
        {% include 'user/dashboard/feed/item.html.twig' with {'item': item} %}
    {% endfor %}
</div>