<div class="row row-form row-errors">
    <div class="col">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {% include '/forms/user/userbase.html.twig' with {'user': form.user} %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% include '/forms/user/info.html.twig' with {'userinfo': form.userinfo} %}
    </div>
</div>
<div class="row">
    <div class="col">
        {% include '/forms/user/addressbook.html.twig' with {'addresses': form.addresses} %}
    </div>
</div>
{{ form_row(form._token) }}


