{% extends 'base.html.twig' %}
{% block title %}🐟 Traders.Social - Profile of {{ app.user.username }}{% endblock %}

{% block header %}
    {% include 'structure/navigation/navigation.top.html.twig' %}
{% endblock %}

{% block breadcrumbs %}
    {% include 'structure/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [
        { 'label': 'Dashboard', 'path': '#' }
    ]} %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Welcome back {{ app.user.info.firstname }},</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <h5>Activity Feed</h5>
                {% include 'user/dashboard/feed.html.twig' with {'feed': feed} %}
            </div>
            <div class="col-4">
                {% include 'structure/navigation/user/dashboard.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'structure/navigation/navigation.footer.html.twig' %}
{% endblock %}